.dialog {
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.6);
	.dialog-content {
		.table-panel-content {
			display: grid;
			grid-template-columns: repeat(1, minmax(0, 1fr));
			max-height: 60vh;
			grid-template-rows: minmax(min-content, max-content) 1fr minmax(min-content, max-content);

			border-radius: 0.75rem;
			border: 1px solid rgba(76, 88, 131, 1);
			background-image: linear-gradient(180deg, var(--tw-gradient-stops));
			--tw-gradient-from: #2e2f40;
			--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(46, 47, 64, 0));
			--tw-gradient-to: #111217;
			padding-top: 1rem;
			padding-bottom: 1.25rem;
			width: 350px;
			.table-title {
				line-height: 1;
				font-weight: 500;
				font-size: 1.125rem;
				color: rgba(252, 239, 188, 1);
				text-align: center;
				margin-bottom: 1.5rem;
			}
			.hide-scrollbar {
				overflow-y: auto;
				scrollbar-width: none;
				.t-overflow-y-auto {
					overflow-y: auto;
					.t-tabs {
						display: grid;
						align-items: center;
						font-size: 16px;
						grid-template-columns: minmax(0, 1fr) min-content minmax(0, 1fr) min-content minmax(0, 1fr) max-content;

						.t-tabs__tab {
							cursor: pointer;
							text-align: center;
							line-height: 1;
							color: rgba(255, 255, 255, 1);
						}
						.t-tabs__tab.active {
							color: rgba(252, 239, 188, 1);
						}
						.t-h-3 {
							height: 0.75rem;
						}
						.t-bg-gold-500 {
							background-color: rgba(252, 239, 188, 1);
						}
						.t-w-px {
							width: 1px;
						}
					}
					.t-my-3 {
						background-color: rgba(252, 239, 188, 1);
						width: 100%;
						height: 1px;
						margin-top: 0.75rem;
						margin-bottom: 0.75r;
					}
					.t-limit-detail {
						padding: 0.25rem 0.5rem;
						font-size: 14px;
						display: grid;
						color: #ffffff;
						margin: 0.3rem 0.5rem;
						grid-template-rows: repeat(1, minmax(0, 1fr));
						grid-template-columns: minmax(0, 1fr) max-content;
						align-content: center;
						.t-font-medium-left {
							font-weight: 500;
						}
						.t-font-normal-right {
							font-weight: 400;
						}
					}
					.t-player-section {
						color: #ffffff;
						.t-leading-none {
							line-height: 1;
						}
						.t-font-medium {
							font-weight: 500;
						}
						.t-text-lg {
							font-size: 1.125rem;
						}
						.t-text-center {
							text-align: center;
						}
						.t-mt-5 {
							margin-top: 1.25rem;
						}

						.t-bg-gold-500 {
							background-color: rgba(252, 239, 188, 1);
						}

						.t-w-full {
							width: 100%;
						}

						.t-h-px {
							height: 1px;
						}

						.t-mb-4 {
							margin-bottom: 1rem;
						}

						.t-mt-3 {
							margin-top: 0.75rem;
						}

						.t-players-detail {
							padding-left: 0.5rem;
							padding-right: 0.5rem;
							padding-top: 0.25rem;
							padding-bottom: 0.25rem;
							font-size: 14px;
							grid-auto-columns: minmax(0, 1fr);
							grid-template-rows: minmax(min-content, max-content);
							grid-auto-rows: minmax(min-content, max-content);

							display: grid;
							grid-template-columns: repeat(3, minmax(0, 1fr));
							.t-justify-self-start {
								justify-self: start;
							}
							.t-justify-self-end {
								justify-self: end;
							}
						}
					}
				}
			}
			.confirm {
				width: 50%;
				margin-top: 1.25rem;

				margin-left: auto;
				margin-right: auto;

				background-color: rgba(252, 239, 188, 1);
				color: rgba(51, 51, 51, 1);

				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 0.5rem;
				padding: 1rem;
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
				text-align: center;
				font-weight: 500;
				min-height: 40px;
			}
		}
	}
}

